<!DOCTYPE html>
<html>
<head>

    <base href="/">

    <title>Rapport de caisse</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>


<header>

    <!-- Image Header -->


    <!-- Navbar -->

    <div class="w3-bar  w3-left-align" style="padding: 10px 150px; font-size:20px; ">

        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2"
           href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="index" class="w3-bar-item w3-button"><i
                class="fa fa-home w3-margin-right"></i>Accueil</a>
        <a href="addRapport" class="w3-bar-item w3-button"><i
                class="fa fa-home w3-margin-right"></i>Ajouter un rapport</a>
        <a href="listRapport" class="w3-bar-item w3-button"><i
                class="fa fa-home w3-margin-right"></i>List des rapports</a>
    </div>
</header>

<!--<body onload="getSession()"></body>-->


<body id="up" style="overflow: auto; padding-top:0px" onload="getSession()">

<h1 style="text-align: center;margin-top: 80px;"><strong>{{title}}</strong></h1>
{{{body}}}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

<!-- Footer -->

</html>